
<!-- нужно добавить пагинацию (из ангуляр материала) -->
<div class="min-h-screen bg-gray-50 p-8">
    <app-job-search></app-job-search>
    <span class="mt-6 text-2xl">Все вакансии · {{jobs.length}} вакансий</span>
    <div class="flex flex-col items-left">
      <app-job-info *ngFor="let job of jobs"
                   [title]="job.title"
                   [workType]="job.work_type"
                   [location]="job.location"
                   [salaryAmount]="job.salary_amount"
                   [salaryCurrency]="job.salary_currency"
                   [experienceLevel]="job.experience_level">
        </app-job-info>
    </div>
  </div>
  