.input-md {
    width: 18rem;
    margin-right: 0.5rem;
}
.text-6xl {
    font-size: 3.75rem !important;
    line-height: 1 !important;
}
.z-index-minus-1 {
    z-index: -1 !important;
}
.margin-isolate {
    margin-top: -10rem !important;
    margin-bottom: 5rem !important;
    margin-left: 5rem;
    margin-right: 5rem;
}

.margin-icon {
    position: relative;
    top: 3.5rem;
    left: 1rem;
}
.text-3xl {
    font-size: 1.875rem !important; /* 30px */
    line-height: 2.25rem !important; /* 36px */
}