<div class="p-4 mb-4 bg-white rounded-lg shadow hover:shadow-lg transition-shadow duration-300 job-info-container">
    <h3 class="text-lg font-semibold">{{ title }}</h3>
    <div class="mt-2 space-y-1 text-sm text-gray-600">
      <div class="flex items-center">
        <mat-icon class="mr-2">work_outline</mat-icon>
        {{ workType }}
      </div>
      <div class="flex items-center">
        <mat-icon class="mr-2">location_on</mat-icon>    
        {{ location }}
      </div>
      <div *ngIf="salaryAmount != null" class="flex items-center">
        <mat-icon class="mr-2">attach_money</mat-icon> 
        {{ salaryAmount }} {{salaryCurrency}}
      </div>
      <!-- надо переписать на else -->
      <div *ngIf="salaryAmount == null" class="flex items-center"> 
        <mat-icon class="mr-2">attach_money</mat-icon>   
        По результатам собеседования
      </div>
      <div class="flex items-center">
        <mat-icon class="mr-2">account_circle</mat-icon>
        {{ experienceLevel }}
      </div>
    </div>
    <div class="mt-4 text-right">
      <a href = "job/{{id}}" class="text-green-600 hover:underline">Подробнее</a>
    </div>
  </div>
  